/*************************************************
common-style
*************************************************/
@mixin base_width{
  margin: 0 auto;
  width: 1200px;
}
// @extendでスタイルの継承
// @mixinでステイルの定義
// @includeでmixinの呼び出し

// ブレイクポイント
// PC基準でコーディングする場合
$breakpoints: (
  "sm": "screen and (max-width: 599px)", //スマホ
  "md": "screen and (max-width: 1024px)", //タブレット
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints , $breakpoint)} {
    @content;
  }
}

// スマホ基準でコーディングする場合
// $breakpoints: (
//   "md": "screen and (min-width: 600px)", //タブレット
//   "lg": "screen and (min-width: 1025px)", //パソコン
// ) !default;
// @mixin mq($breakpoint: sm) {
//   @media #{map-get($breakpoints , $breakpoint)} {
//     @content;
//   }
// }

*{
  box-sizing: border-box;
}

.ie_ObjectFit {
object-fit: cover;
font-family: 'object-fit: cover;'
}

body{
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  // font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}


// /iOSでのデフォルトスタイルをリセット /
input[type="submit"],
input[type="button"] {
border-radius: 0;
-webkit-box-sizing: content-box;
-webkit-appearance: button;
appearance: button;
border: none;
box-sizing: border-box;
&::-webkit-search-decoration {
display: none;
}
&:focus {
outline-offset: -2px;
}
}

